name: Translate GitHub Issues

on:
  workflow_call:
    secrets:
      OPENAI_API_KEY:
        required: true
    inputs:
      issue_number:
        required: true
        type: string

jobs:
  translate:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - name: Checkout bilingual-github Repository
        uses: actions/checkout@v3
        with:
          repository: rimoapp/bilingual-github

      - name: Debug - List files and directories
        run: |
          echo "Current Directory: $(pwd)"
          ls -la

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Debug API Key
        run: |
          echo "OPENAI_API_KEY is ${OPENAI_API_KEY}" # Do not print the value
          if [ -z "${OPENAI_API_KEY}" ]; then
            echo "OPENAI_API_KEY is not set or empty."
            exit 1
          else
            echo "OPENAI_API_KEY is set."
          fi
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

      - name: Translate Issues
        run: |
          python src/actions/translate_issues.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ISSUE_NUMBER: ${{ inputs.issue_number }}  # Pass the issue number to the script
